<!DOCTYPE html>

<html>

  <head>
    <title> StoryTime </title>
    <link rel= "stylesheet" type="text/css" href= "../static/customization.css"> <!-- This code links in relation to the html to a backend css-->
  </head>

  <body>
    <div id ="header">
      Thanks for submitting your entry! <br>
    </div>

    <h3>
	    The entire story is: <br> {{story}} <br>
    </h3>

    <br>
    <form action="/returnHome">
	    <input type="submit" name="homeButton" value="Back">
    </form>
    <br>
  </body>

</html>
