<!DOCTYPE html>

<html>
  <h2>
    Welcome to your storymaking hub!
    Do you want to...
  </h2>

  <form action="/newStory" method="POST"> 
    <h3>... Create a new story?</h3> 
    <input type ="text" name="storyName"> 
    <input type="submit" name="newStory" value="Create">
    <br><br>
  </form>
  <form action="selectStory" method="POST">
    <h3>... Or add to an existing story?
	<br>
	<br>
	Current stories:
	{% for item in listOfStories %}
	<br>{{item}}
	{% endfor %}
    </h3>
    <br>
    <input type="text" name="selStory">
    <input type="submit" name="oldStory" value="Pick">
  </form>


</html>
