<!DOCTYPE html>

<html>
  <h2>
    Welcome to your storymaking hub!
    Do you want to...
  </h2>

  {% if error == "Story name not available" %} <!-- this code will run if there is an error: USERNAME DNE!  -->
  Story name already taken! Pick another one. <!-- Adds a message under the login-->
  {% endif %}

  {% if error == "Story not found" %} <!-- this code will run if there is an error: USERNAME DNE!  -->
  Story not found! Are you sure you typed it in correctly?. <!-- Adds a message under the login-->
  {% endif %}
  
  <form action="/redirectNew" method="POST"> <!--Upon submission, go to app.route("/redirect")-->
    <h3>... Create a new story?</h3> 
    <input type ="text" name="storyName"> 
    <input type="submit" name="newStory" value="Create">
    <br><br>
  </form> 
  
  <form action="/redirectOld" method="POST">
    <h3>... Or add to an existing story?</h3>
    List of existing stories: {{listOfStories}}
    <br><br>
    <input type="text" name="selStory">
    <input type="submit" name="oldStory" value="Pick">
  </form>
  <br>

  <form action="/logout" method="POST">
    <input type="submit" name="sub1" value="Logout">
  </form>

</html>