<!DOCTYPE html>

<html>

  <head>
    <link rel= "stylesheet" type="text/css" href= "../static/customization.css"> <!-- This code links in relation to the html to a backend css-->
    <title> SIGNUP </title>
  </head>

  <body>
    <div id="header">
      Welcome, People Who Do Not Have an Account!!:
    </div>

    <h3>
      Signup Below:
    </h3>    

    <form action="/register" method="POST"> <!-- The significance of this line, is that when you hit submit it puts /register in your action
      and takes you to @app.route("/register")
      This is built into the HTML structure. It is linking up the front and the back end. 
      The action is adding an "/register" after the current web address. -->
      Username: <input type="text" name="username" required> 
      <br>
      {% if error == "Username already exists" %}<!-- Will run if during signup, a username already exists -->
        <action="/">
        Username already Exists, Try again <!-- Adds message under login -->
      {% endif %}

      Create Password: <input type="password" name ="password1" required>
      <br>
      Confirm Password: <input type="password" name ="password2" required>
      {% if error == "Passwords Do Not Match Try Again!" %} <!-- this code will run if there is an error: Passwords Do Not Match -->
         <action="/">
         <br>
         Passwords Do Not Match, Try Again! <!-- Adds a message under the signup-->
      {% endif %}
      <br>
      <input type="submit" name="sub3" value = "Sign Up"> 

    </form>

    <br>
  </body>

</html>
