<!DOCTYPE html>

<html>

  <head>
    <title> StoryTime </title>
    <link rel= "stylesheet" type="text/css" href= "../static/customization.css"> <!-- This code links in relation to the html to a backend css-->
  </head>

  <body>
	  <h3>
		  {{story}}
	  </h3>
    <h2>
      "{{line}}" <br>
    </h2>

    <h3>
      What happens next?
    </h3>

    <form action="/addedStory" method="POST">

      <input type="text" name="newEntry" class="storyText" />
      <br><br>
      <input type="submit" name="sub1" value="Submit your story!">
    </form>
    <form action="/returnHome">
	    <input type="submit" name="homeButton" value="Back">
    </form>

    <br>
  </body>

</html>
