<!DOCTYPE html>

<html>
    Bottlers: Jeff Chen, Fang Chen, Yusha Aziz <br>
    Softdev pd02 <br>
    P00 - Build-a-story <br>
    2022-11-15 <br>
  
  <h2>
  <link rel= "stylesheet" type="text/css" href= "../static/customization.css"> <!-- This code links in relation to the html to a backend css-->

  <div id="header">
    Welcome to your storymaking hub!
    Do you want to...
  </div>

  {% if error == "Story name not available" %} <!-- this code will run if there is an error: USERNAME DNE!  -->
  Story name not available! Pick another one. <!-- Adds a message under the login-->
  {% endif %}

  {% if error == "Story not found" %} <!-- this code will run if there is an error: USERNAME DNE!  -->
  Story not found! Are you sure you typed it in correctly?. <!-- Adds a message under the login-->
  {% endif %}

  <form action="/redirectNew" method="POST"> <!--Upon submission, go to app.route("/redirect")-->

    <h3>... Create a new story?</h3> 
    Name your story:
    <input type ="text" name="storyName"> 
    <input type="submit" name="newStory" value="Create">
    <!-- {% if error == "Invalid name! Choose something else!" %}
        <action="/">
          <br> <b> <div id = "error"> 
                Invalid story name! Choose something else!
          </b> </div> <br>
        {% endif %} -->
    <br><br>
  </form> 
  
  <form action="/redirectOld" method="POST">
    <h3>... Or add to an existing story? ... Or view your contributions?</h3>
    List of existing stories: {{listOfStories}}
    <br><br>
    <input type="text" name="selStory">
    <input type="submit" name="oldStory" value="Pick">
    <!-- {% if error == "Story does not exist!" %}
        <action="/">
          <br> <b> <div id = "error"> 
                Story doesn't exist!
          <br> </b> </div>
        {% endif %} -->
  </form>
  <br>
  <form action="/logout" method="POST">
    <input type="submit" name="sub1" value="Logout">
  </form>

</html>
